@font-face {
    font-family: LiberationSerif;
    src: url("../fonts/LiberationSerif.woff2") format("woff2"), url("../fonts/LiberationSerif.woff") format("woff");
}

body {
    font-family: LiberationSerif;
    font-size: 120%;
    color: white;
    background: #444;
}

h1 {
    text-align: center;
    font-weight: normal;
}

#table {
    margin: 0 15% 0;
}

.head {
    font-weight: bold;
}

.row {
    float: left;
    width: 80%;
}

.cell {
    float: left;
    background: #333;
}

.id {
    width: 6%;
    text-align: center;
}

.name {
    width: 17%;
    padding-left: 2%;
}

.surname {
    width: 30%;
}

.email {
    width: 25%;
}

.phone {
    width: 20%;
}

hr {
    margin: 0;
}

.button {
    float: left;
    margin: 1px 0;
    padding: 0 0.5%;
    font-size: 96%;
    color: blue;
    text-align: center;
}

.edit {
    width: 9%;
    margin: 1px 1%;
    background: #EA5;
}

.delete {
    width: 7%;
    background: #F48;
}

.new {
    width: 40%;
    margin: 8px 0 0 42%;
    font-size: 100%;
    color: blue;
    background: #5A0;
}