<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>Web Contacts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="/css/create_edit.css" />
        <link href="/favicons/java.png" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <h1 th:utext="${form_name}"></h1>
        <div id="form">
            <form th:action="${form_action}" method="post">
                <input type="hidden" id="id" name="id" th:value="${contact.id}">
                <div class="label"><label for="name">Имя:</label></div>
                <div class="input_field">
                    <input type="text" id="name" name="firstName" required th:value="${contact.firstName}">
                </div>
                <div class="label"><label for="surname">Фамилия:</label></div>
                <div class="input_field">
                    <input type="text" id="surname" name="lastName" required th:value="${contact.lastName}">
                </div>
                <div class="label"><label for="email">Емейл:</label></div>
                <div class="input_field">
                    <input type="text" id="email" name="email" required th:value="${contact.email}">
                </div>
                <div class="label"><label for="phone">Телефон:</label></div>
                <div class="input_field">
                    <input type="text" id="phone" name="phone" required th:value="${contact.phone}">
                </div>
                <div><input class="submit" type="submit" value="Готово"></div>
                <div id="message_area" th:utext="${message}"></div>
            </form>
        </div>
    </body>
</html>
