<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>Web Contacts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="css/index.css" />
        <link href="favics/java.png" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <h1>Список контактов</h1>
        <div id="table">
            <div class="row">
                <div class="head cell id">№</div>
                <div class="head cell name">Имя</div>
                <div class="head cell surname">Фамилия</div>
                <div class="head cell email">Емейл</div>
                <div class="head cell phone">Телефон</div>
                <hr>
            </div>
            <div class="row">
                <div class="cell id">1</div>
                <div class="cell name">Иван</div>
                <div class="cell surname">Иванов</div>
                <div class="cell email">ivanov@mail.ru</div>
                <div class="cell phone">+70001234567</div>
            </div>
            <a href="#"><div class="button edit">Изменить</div></a>
            <a href="#"><div class="button delete">Удалить</div></a>
            <div class="row">
                <div class="cell id">2</div>
                <div class="cell name">Флоренций</div>
                <div class="cell surname">Прокудин-Горский</div>
                <div class="cell email">ivanov@mail.ru</div>
                <div class="cell phone">+70001234567</div>
            </div>
            <a href="#"><div class="button edit">Изменить</div></a>
            <a href="#"><div class="button delete">Удалить</div></a>
            <div class="row">
                <a href="#"><div class="button new">Добавить новый контакт</div></a>
            </div>
        </div>
    </body>
</html>
