fieldset {
    border: solid 1px #CCC;
    border-left: none;
    float: left;
    height: 48px;
    margin: 0;
    padding: 4px;
}

input[type="date"] {
    border: solid 1px #CCC;
    padding: 2px 0;
}

select {
    -webkit-padding-before: 4px;
    -webkit-padding-after: 4px;
}

input[type="text"] {
    border: solid 1px #CCC;
    width: 2em;
    padding: 2px 0 2px 1px;
    -webkit-padding-before: 4px;
    -webkit-padding-after: 4px;
}

input[type="submit"] {
    -webkit-padding-before: 4px;
    -webkit-padding-after: 4px;
}

input[type="text"]#timeframe {
    width: 3.5em;
}

input[type="text"]#sma_yellow {
    color: #EB0;
}

input[type="text"]#ema_red {
    color: #E00;
}

input[type="text"]#ema_blue {
    color: #00E;
}

input[type="text"]#sma_green {
    color: #0E0;
}

div#zerofloat {
    clear: left;
}

div#graf {
    overflow: auto;
    width: 100%;
    margin-top: 7px;
}

.item{
  width: 1px;
  height: 90%;
  background: black;
}
